* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-container {
  width: 87%;
  height: auto;
  margin: auto;
  --bs-gutter-x: 0rem;
}

/* sidebar container */

.main-container .side-menu{
display: none;
}

.side-menu .menu-header{
  padding: 15px;
  color: white;
}
.side-menu .menu-items{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.side-menu .menu-items a{
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  margin: 20px 0;
}
.side-menu .side-menu-git-button{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
}
.side-menu-git-button button{
    background-color: #5b1c15;
    color: white;
    border: none;
    padding: 5px 35px;
    border-radius: 10px;
    cursor: pointer
}

/* header container */

.header {
  width: 100%;
  background-color: #ffffffb7;
  backdrop-filter: blur(10px);
  padding: 15px 10px;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 1;
}
.header .logo{
    width: 10%;
    display: flex;
    align-items: center;
}
.logo a {
font-family: "Space Grotesk", sans-serif;
font-size: 25px;
font-weight: 600;
}
.logo a:hover {
  color: #007bff;
  transform:scale(1.05);
  transition: all 0.3s ease;
}
.header-links{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 67%;
}
.header-links a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  margin: 0 20px;
}
.header-links a:hover {
  transform: translate(0, -2px);
}
.header-menu-button {
    display: flex;
    width: 79%;
    justify-content: end;
    align-items: center;
}
.header-menu-button {
  display: none;
}
.header-git-button{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 8%;
}
.header-git-button button{
    background-color: #280e0b;
    color: white;
    border: none;
    padding: 5px 35px;
    border-radius: 5px;
    cursor: pointer
}
.header-git-button button:hover{
    box-shadow: 0 0 10px rgba(67, 67, 67, 0.604);
    transform: translate(0, -2px);
    transition: all .5s ease-in-out;
}

/* sections one*/

#section-one{
    width: 100%;
    height: 90vh;
    padding: 10px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: row;
}
#section-one .left-container{
    width: 50%;
    height: 50%;
    padding: 20px;
}
.left-container h1{
    font-size: 2.5rem;
    font-family: "Space Grotesk", sans-serif;
}
.left-container p{
    font-size: 1rem;
    font-family: "Space Grotesk", sans-serif;
}
.left-container button{
    background-color: #5b1c15;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
}
.developer-text:hover{
    transform: translate(0, -5px);
    transition: all 1s ease;
    color: #5B0C04;
}
#section-one .right-container{
    width: 50%;
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
}
.right-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
}

/* section two */

#section-two{
    width: 100%;
    height: auto;
}
#section-two .client-head{
  text-align: center;
  font-size: 20px;
  padding-top: 20px;
  margin-top: 50px;
}
.client-head h3{
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.2rem;
  font-weight: bolder;
}
.client-logos{
  padding: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}
.client-logos ul{
  display: flex;
}
.client-logos li{
 list-style: none;
 text-align: center;
 width: 100px;
 margin-right: 30px;
}
.client-logos img{
  width: 100%;
}
.skill-container{
  text-align: center;

}
.skill-container h5{
    font-family: "Space Grotesk", sans-serif;
    font-size: 1rem;
}
.skill-container h1{
  font-weight: bolder;
  font-size: 3rem;
}
.skill-container-paragraph{
  font-size: 1rem;
  margin-top: 30px;
  color: #919191;
}
.skills-list{
width: 100%;
height: auto;
display: flex;
justify-content: center;
gap: 30px;
margin-top: 50px;
padding: 10px;
}
.skills{
width: 50dvw;
height: 30dvh;
margin: auto;
padding: 20px;
}
.skills-logo{
  width: 35px;
  height: 35px;
  margin-bottom: 15px;
  background-color: black;
  border-radius: 50%;
  margin: auto;
}
.skills svg{
  color: white;
  padding:5px;
}
.skills-paragraph{
  color: #919191;
  font-size: .9rem;
  padding-top: 0;
}

/* section-three */

#section-three{
  width: 100%;
  height: 100vh;
  text-align: center;
  padding-top: 5%;
}
#section-three h1{
  font-weight: bolder;
  font-size: 2.2rem;
}
#section-three .section-three-pera{
  color: #919191;
  font-size: 1rem;
  margin-top: 20px;
}
.project-container{
  width: 100%;
  display: flex;
  padding: 10px;
  margin-top: 40px;
  gap: 10px;
  z-index: 0;
}
.project-container .card{
  width: 30%;
  height: 30dvh;
margin: auto;
}

/* media queries */
@media screen and (max-width: 768px) {
  .main-container {
    width: 100%;
  }
  .side-nav{
    display: none;
  }
  .main-container .side-menu{
  display: block;
  position:fixed;
  z-index: 1;
  top: 0;
  right: 0;
  width: 60%;
  height: 100vh;
  background-color: #360602e4;
  border-radius: 10px 0px 0px 10px;
}
#side-menu{
  transform: translateX(100%);
  transition: all 1s ease;
  z-index: 1;
}
.header{
    position: fixed;
    top: 0;
}
#side-menu.active{
  transform: translateX(0);
}
  .header-links{
    display: none;
  }
  .header-git-button{
    display: none;
  }
    .header-menu-button {
        display: flex;
        width: 100%;
        justify-content: end;
        margin-right: 10px;
        align-items: center;
    }
    #section-one {
        flex-direction:column-reverse;
        height: 82dvh;
        align-items: start;
        margin-top: 80px;
        padding-top: 15px;
    }
    #section-one .left-container{
    width: 100%;
    height: 35dvh;
    padding: 20px;
}
.left-container h1{
    font-size: 1.8rem;
    font-family: "Space Grotesk", sans-serif;
}
.left-container p{
    font-size: .7rem;
    font-family: "Space Grotesk", sans-serif;
}
#section-one .right-container{
    width: 100%;
    height: 50dvh;
    padding: 20px;
    display: flex;
    align-items: center;
}
.client-logos{
  overflow: scroll;
    margin-bottom: 0;
}
.skills-list{
  flex-wrap: wrap;
}
.skills{
  width: 70dvw;
}
.project-container{
  flex-wrap: wrap;
}
.project-container .card{
  width: 90%;
}
}
